# Docker Compose file for Vapor
#
# Install Docker on your system to run and test
# your Vapor app in a production-like environment.
#
# Note: This file is intended for testing and does not
# implement best practices for a production deployment.
#
# Learn more: https://docs.docker.com/compose/reference/
#
#   Build images: docker compose build
#      Start app: docker compose up app
# Start database: docker compose up db
# Run migrations: docker compose run migrate
#       Stop all: docker compose down (add -v to wipe db)
#

# volumes:
#   db_data:

# x-shared_environment: &shared_environment
#   LOG_LEVEL: ${LOG_LEVEL:-debug}
#   DATABASE_HOST: db
#   DATABASE_NAME: &db_name vapor_database
#   DATABASE_USERNAME: &db_username vapor_username
#   DATABASE_PASSWORD: &db_password vapor_password

# networks:
#   default:
#     name: random-collection-network
#     external: false
services:
  random-collection:
    image: random-collection:dev
    container_name: random-collection
    restart: unless-stopped
    env_file:
      - .env
    ports: # Comment Out if using Traefik
      - '${PORT:-4311}:${PORT:-4311}'
    # expose:             # Uncomment if using Traefik
    #   - ${PORT:-6666}
    # labels:
    #   - "traefik.enabled=true"
    #   - "traefik.http.routers.random-collection.rule=Host('${RC_HOSTNAME?}')"
    #   - "traefik.http.routers.random-collection.entrypoint=websecure"
    #   - "traefik.http.routers.random-collection.tls.certresolver=letsencrypt"
    #   - "traefik.http.routers.random-collection.middlewares=authelia@docker"
    volumes:
      - ${DOCKER_DATA_DIR}/random-collection/data:/app/data
    depends_on:
      random-collection-postgres:
        condition: service_healthy
    command: ["serve", "--hostname", "0.0.0.0", "--port", "${PORT:-4311}"]
    profiles:
      - random-collection
      - all
      - mine
    
  migrate:
    image: random-collection:latest
    build:
      context: .
    env_file:
      - .env
    command: ["migrate", "--yes"]
    deploy:
      replicas: 0
  revert:
    image: random-collection:latest
    build:
      context: .
    env_file:
      - .env
    command: ["migrate", "--revert", "--yes"]
    deploy:
      replicas: 0
  random-collection-postgres:
    image: postgres:18-alpine
    container_name: random-collection-postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${DATABASE_USERNAME}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
      POSTGRES_DB: ${DATABASE_NAME}
    volumes:
      - ${DOCKER_DATA_DIR}/random-collection/postgres:/var/lib/postgresql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DATABASE_USERNAME} -d ${DATABASE_NAME}"]
      interval: 10s
      timeout: 5s
      retries: 5
    profiles:
      - random-collection
      - all
      - mine
    ports:
      - '5432:5432'
