
services:
  random-collection:
    image: random-collection
    container_name: random-collection
    restart: unless-stopped
    expose:
      - ${PORT:-6666}
    env_file:
      - .env
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.random-collection.rule=Host(`${RANDOM_COLLECTION_HOSTNAME?}`)"
      - "traefik.http.routers.random-collection.entrypoints=websecure"
      - "traefik.http.routers.random-collection.tls.certresolver=letsencrypt"
      # - "traefik.http.routers.random-collection.middlewares=authelia@docker"
      - "traefik.http.services.random-collection.loadbalancer.server.port=${PORT:-6666}"
    volumes:
      - ${DOCKER_DATA_DIR}/random-collection/data:/app/data
    depends_on:
      random-collection-postgres:
        condition: service_healthy
    command: ["serve", "-e", "prod", "--hostname", "${HOSTNAME}", "--port", "${PORT:-6666}"]
    profiles:
      - random-collection
      - all
      - mine
    
  migrate:
    image: random-collection
    build:
      context: .
    env_file:
      - .env
    command: ["migrate", "--yes"]
    deploy:
      replicas: 0

  revert:
    image: random-collection
    build:
      context: .
    env_file:
      - .env
    command: ["migrate", "--revert", "--yes"]
    deploy:
      replicas: 0

  random-collection-postgres:
    image: postgres:18-alpine
    container_name: random-collection-postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${DATABASE_USERNAME}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
      POSTGRES_DB: ${DATABASE_NAME}
    volumes:
      - ${DOCKER_DATA_DIR}/random-collection/postgres:/var/lib/postgresql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DATABASE_USERNAME} -d ${DATABASE_NAME}"]
      interval: 10s
      timeout: 5s
      retries: 5
    profiles:
      - random-collection
      - all
      - mine
